@args String tokenId
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
</head>
<body>
<h3>
    Requirements for new password:
</h3>
<ul>
    <li>at least 1 uppercase character (A-Z)</li>
    <li>at least 1 lowercase character (a-z)</li>
    <li>at least 1 digit (0-9)</li>
    <li>at least 1 special character (punctuation)</li>
    <li>at least 10 characters</li>
    <li>at most 128 characters</li>
</ul>
<form method="post" action="/change-password" autocomplete="off">
    New password: <label>
    <input type="password" name="new-password" size="64"/>
</label><br/>
    Repeat new password: <label>
    <input type="password" name="repeat-new-password" size="64"/>
</label><br/><br/>
    <input type="submit" value="SEND"/>
    <input type="hidden" name="action" value="reset"/>
    <input type="hidden" name="tokenId" value="@tokenId"/>
</form>
</body>
</html>